#head
{
	background-color: rgb(182, 140, 134);

}
#button
{
	background-color: rgb(182, 140, 134);
}
#info
{
	margin: 10px;
	background-color: linen;

}
#footer
{
	background-color: rgb(182, 140, 134);
}
#code{
	background-color: rgb(240,240,240);
	font-size: 30px;

}